@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: 400ms ease;
}

.sidebar.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: 400ms ease;
}

.addButton{
    /* display: none; */
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.addButton:hover .addPage{
    display: block;
    opacity: 1;
}

.formTop:hover .addButton {
    /* display: block; */
    opacity: 1;
}

.outer #form{
    width: 200%;
    position: relative;
    display: flex;
    margin: auto;
    transition: 0.2s ease-in-out;
}

.switches-response::after {
    left: 0;
}

/* CSS untuk posisi after pada tombol chart */
.switches-chart::after {
    left: 40%;
    transform: translateX(-50%);
}



.switch.active::after{
    margin-left: 50%;
    width: 50%;
    background-color: green;
}  

#page{
    margin: auto;
    width: 200%;
}

.option{
    display: none;
}

.containerHover:hover .option {
    display: block;
}

.containerHover:hover .optionPhoto{
    opacity: 1;
}

.file-button-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.file-button {
    display: flex;
    align-items: center;
    padding: 8px;
    border: none;
    background-color: #ccc;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.icon-photo {
    margin-right: 8px;
    font-size: 20px;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    cursor: pointer;
}

